#cartProduct {
  margin-top: 10px;
  margin-bottom: 50px;
}

#cartBody {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  background-color: #ffffff;
}

#cartBody:hover {
  box-shadow: 0 8px 16px 0 rgb(224, 136, 4);
}

p {
  font-size: 18px;
  line-height: 2ex;
}
